#target {
	display: none;
	overflow: hidden;
}

#btn1 {
	display: block;
}

#btn2 {
	display: none;
}

#target div {
	float: left;
	margin-right: 30px;
}

#aiu {
	display: none;
}

.fade:not(.show) {
    opacity: 100;
}
.container {
    margin: 0;
    padding: 0;
}
/*
.scroll-box {
    height: 300px;
    position: relative;
    overflow-y: scroll;
}
*/
